<div class="mdl-cell mdl-cell--4-col"> {{#each dbArticle}}
  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">{{ title }}</h2>
      </div>
      <!-- <div class="mdl-card__supporting-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Mauris sagittis pellentesque lacus eleifend lacinia...
      </div> -->
      <div class="mdl-card__actions mdl-card--border">
          <a href={{link}} class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Read more
          </a>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                  Save Article
          </button>
      </div>
  </div>
</div>

{{/each}}