.mdl-layout {
    background-image: url('./images/abstract-compressed.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  .demo-layout-transparent .mdl-layout__header,
  .demo-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
       your background is light. */
    color: chocolate;
  }
  .mdl-card__title {
      color: #fff;
      height: 176px;
      background: url('https://www.getmdl.io/assets/demos/welcome_card.jpg') center / cover;
  }

  .mdl-card__menu {
      color: #fff;
  }

  #save-article{
      float:right;
  }
